@font-face {
   font-family: 'Cabin';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///Users/christian/AMP%20fo%CC%88r%20HSB%20Go%CC%88teborg/fonts/Cabin/500.ttf') format('truetype');
}
@font-face {
   font-family: 'Cabin';
   font-style: normal;
   font-display: swap;
   font-weight: 600;
   src: url('file:///Users/christian/AMP%20fo%CC%88r%20HSB%20Go%CC%88teborg/fonts/Cabin/600.ttf') format('truetype');
}
@font-face {
   font-family: 'Cabin';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/christian/AMP%20fo%CC%88r%20HSB%20Go%CC%88teborg/fonts/Cabin/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Cabin';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/christian/AMP%20fo%CC%88r%20HSB%20Go%CC%88teborg/fonts/Cabin/regular.ttf') format('truetype');
}
@font-face {
   font-family: 'Cabin';
   font-style: italic;
   font-display: swap;
   font-weight: 400;
   src: url('file:///Users/christian/AMP%20fo%CC%88r%20HSB%20Go%CC%88teborg/fonts/Cabin/italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Cabin';
   font-style: italic;
   font-display: swap;
   font-weight: 500;
   src: url('file:///Users/christian/AMP%20fo%CC%88r%20HSB%20Go%CC%88teborg/fonts/Cabin/500italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Cabin';
   font-style: italic;
   font-display: swap;
   font-weight: 600;
   src: url('file:///Users/christian/AMP%20fo%CC%88r%20HSB%20Go%CC%88teborg/fonts/Cabin/600italic.ttf') format('truetype');
}
@font-face {
   font-family: 'Cabin';
   font-style: italic;
   font-display: swap;
   font-weight: 700;
   src: url('file:///Users/christian/AMP%20fo%CC%88r%20HSB%20Go%CC%88teborg/fonts/Cabin/700italic.ttf') format('truetype');
}
